.header {
  background-color: #343a40 !important;
}

.header-link {
  color: #ddd;
  padding: 10px;
  margin: 5px;

  text-decoration: none;
  border-radius: 5px;
}

.header-link:hover {
  color: #fff;
  background-color: #444;
  text-decoration: none;
}

.header-link-inactive {
  color: #ddd;
  padding: 10px;
  margin: 5px;
  background-color: #444;

  text-decoration: none;
  border-radius: 5px;

  pointer-events: none;
  cursor: default;
}
